<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.mission.mapper.ReviewMapper">
    <resultMap id="reviewMap" type="Review">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="score" column="score"/>
        <result property="created_at" column="created_at"/>
    </resultMap>

    <resultMap id="reviewDtoMap" type="ReviewDTO">
        <result property="avgScore" column="avgScore"/>
        <collection property="reviews" resultMap="reviewMap"/>
    </resultMap>

    <insert id="registerReview">
        insert into review(id, content, score, created_at, restaurant_id)
        values (review_seq.nextval, #{content}, #{score}, systimestamp, #{restaurant_id})
    </insert>

    <select id="getReviewsByRestaurantId" resultMap="reviewDtoMap" parameterType="long">
        select id, content, score, created_at, (select avg(score) from review) as avgScore
        from review
        where restaurant_id = #{restaurant_id}
    </select>

    <delete id="deleteReview" parameterType="long">
        delete from review where id=#{id}
    </delete>
</mapper>